:root {
  --primary-color: #112a27;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

@media (width <= 48rem) {
  #root {
    padding: 0;
  }
}


